.title {
	-fx-font-size: 20.0px;
}

GridPane {
    -fx-alignment: center;
    -fx-hgap: 10.0px;
    -fx-vgap: 10.0px;
    /*-fx-grid-lines-visible: true;*/
    -fx-padding: 25.0px 25.0px 25.0px 25.0px;
}

GridPane > HBox {
    -fx-alignment: bottom-right;
    -fx-spacing: 10.0px;
}

.menu > Button {
    -fx-min-width: 200.0px;
    -fx-min-height: 200.0px;
}

#insertNewsPane > TextField {
    -fx-min-width: 500.0px;
}

.bestNews {
    -fx-spacing: 10.0px;
    -fx-padding: 10.0px 0.0 0.0 0.0;
}

.allNews {
    -fx-spacing: 10.0px;
    -fx-padding: 10.0px 0.0 0.0 0.0;
}

.allNews > Text {
    -fx-font-size: 1.5em;
}

#commentPane > GridPane > TextField {
    -fx-min-width: 500.0px;
}

.error {
    -fx-fill: red;
}